<carousel >
    <slide >
       <img src="assets/images/hero1.jpg"  alt="image slide" style="display: block; width: 100%;">
       <div class="carousel-caption">
          <h4>Slide </h4>
          <p></p>
       </div>
    </slide>
    <slide >
        <img src="assets/images/hero2.jpg"  alt="image slide" style="display: block; width: 100%;">
        <div class="carousel-caption">
           <h4>Slide </h4>
           <p></p>
        </div>
     </slide>
     <slide >
        <img src="assets/images/hero3.jpg"  alt="image slide" style="display: block; width: 100%;">
        <div class="carousel-caption">
           <h4>Slide </h4>
           <p></p>
        </div>
     </slide>

     <section class="featured">
        <div class="d-flex justify-content-center pt-4">
            <h1>Welcome to the shop</h1>
        </div>
     </section>
 </carousel>